!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= @browser_title || 'Default Browser Title'
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
  %body{body_attributes}
    #root
      #header
        #app-title
          %img{:src => image_path('hippo-header.png'), :alt => 'hippo header'}

        #app-links
          /== #{pluralize User.logged_in.count, "user"} currently logged in
          -if !current_user
            = link_to "Register", new_account_path
            |
            = link_to "Log In", new_user_session_path
          -else
            = link_to "My Account", account_path |
            = link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"
      #content
        %p{:style=>"color: green"}= flash[:notice]

        = yield
    #footer
